h1 {
  color: blue;
  font-size: 80px;
  text-align: center;
  text-decoration: overline;
  text-shadow: 2px 2px 3px #EEC6CA;
  font-family: "Brush Script MT", cursive;
  
}
body {
  background-color: 
    antiquewhite;
}
